/* Media Query para pantallas de escritorio */
@media (min-width: 1024px) {
}
  
/* Media Query para tablets */
@media (max-width: 1023px) and (min-width: 769px) {
    .img-argentina-campeon img {
        height: 270px;
        width: 400px;
    }
}
  
/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        "main main" 
        "main main"
        "main main"
        "main main"
        "aside aside";
        grid-column-gap: 30px;
    }
    .info-futarg {
        grid-area: main;
        p {
            color: #ffffff00;
            text-shadow: none;
        }
    }
    .info-extra {
        grid-area: aside;
    }
    .d-flex {
        padding-bottom: 5px;
    }
    .biografia-liganet {
        font-size: 18px;
    }
    .img-argentina-campeon img {
        height: 180px;
        width: 300px;
    }
    .biografia-2 {
        font-size: 18px;
    }
}